<aside id="left-sidebar-nav"  >
    <ul id="slide-out" class="side-nav fixed leftside-navigation">

        <li class="user-details">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="http://www.medinfo.com.br/scripts/img.php?path=../up_sistemas/sisProf/foto-profissional.jpg&w=150&h=200" alt="" class="circle responsive-img valign profile-image">
                </div>

                <div class="col col s8 m8 l8">

                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{user.nome}} <a/>

                        <i class="mdi-navigation-arrow-drop-down right"></i>

                    </a>
                   <!-- <ul id="profile-dropdown" class="dropdown-content active" style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: block;">
                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="mdi-action-settings"></i> Configuração</a>
                    </li>
                    <li><a href="#"><i class="mdi-communication-live-help"></i> Ajuda</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Bloquear</a>
                    </li>
                    <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Sair</a>
                    </li>
                    </ul>-->
                    <p class="user-roal">Admin</p>
                </div>
            </div>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold active" ng-class="{active: activetab == '/'}"><a class="collapsible-header waves-effect waves-cyan active" href="#/"><i class="mdi-action-announcement"></i> Início</a>

                <li class="bold active" ng-class="{active: activetab == '/login'}"><a class="collapsible-header waves-effect waves-cyan active" href="#/obras"><i class="mdi-action-accessibility"></i> Login</a>

                </li>


            </ul>
        </li>
    </ul>
</aside>